
body{
  transition: all 1s;

}

input {
  border: solid 1px black;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 1s;
}

.btn-success {
    color: #fff;
    background-color: #9cb39c;
    border-color: #9cb39c;
}
.btn-success:hover {
  background-color: #36b836;
  border-color: #36b836;
}


.btn-delete {
    color: #fff;
    background-color: rgb(254, 121, 121);
    border-color: rgb(254, 121, 121);
}

.btn-delete:hover {
  background-color: #CF000F;
  border-color: #CF000F;
}

.quantity {
  margin: 0 5px;
  height: 20px;
  border-radius: 4px;
  background-color: blanchedalmond
}

h1{
  text-align: center;
}

.products-container, .new-product-form{
  margin: 5% 10%;
  transition: height 2s;
}

.product-wrapper{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-calculate{
  display: block;
  margin: auto;
}

.new-product-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  text-align: center;
}

.field{
  width: 20%;
}

.toAdd{
  height: 20px;
  border-radius: 4px;
  background-color: antiquewhite;
}

.qua{
  height: 20px;
  border-radius: 4px;
  background-color: blanchedalmond
}

.create{
  color: #fff;
  background-color: #848bd2;
  border-color: #848bd2;
  margin-left: 10px;
}
.create:hover{
  background-color: #3847e9;
  border-color: #3847e9;
}